<div>
    <h1>

        Bootstrap responsive design
    </h1>

    <a href="http://getbootstrap.com/2.3.2/base-css.html" target="_blank">http://getbootstrap.com/2.3.2/base-css.html</a>
    <p>
        Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in
        tablet and smartphone browsers via responsive CSS as well.
    </p>
</div>

<div>
    <h1>
        Google Web Designer

    </h1>

    <p>
        Google today announced the launch of Web Designer, a new tool for building interactive HTML5 sites and ads. The
        company first hinted at this launch in june, but had been quiet about it ever since. Web Designer, which Google
        calls a “professional-quality design tool,” is now officially in public beta and available for download for Mac
        and Windows.

    </p>
    <p>
        As Google notes in today’s announcement, Web Designer was developed to allow advertisers to easily create HTML5
        ads for mobile and desktop. Until recently, Google argues, advertisers “didn’t have the tools they needed to
        easily develop content fit for today’s cross-screen experiences” and Web Designer aims to be the tool to create
        these experiences.

    </p>
    <p>

        <a href="http://www.google.com/webdesigner/" target="_blank">http://www.google.com/webdesigner/</a>
    </p>



</div>
<div>
    <h1>
        Responsive design anatomy
    </h1>
    <p>

        <a
            href="http://mashable.com/2013/08/08/responsive-design-best-practices/?utm_cid=mash-com-fb-tech-photo"  target="_blank">http://mashable.com/2013/08/08/responsive-design-best-practices/?utm_cid=mash-com-fb-tech-photo</a>
    </p>

</div>