
<div>

    <h1>

        Importance of Coding Standard
    </h1>

    <h3 style="padding-top: 30px">
        Benefits of Following Coding standards:
    </h3>
    <p>
        1) The code is modular
    </p>
    <p>
        2) Changes or future enhancement does not takes up lot of time.
    </p>
    <p>
        3) Coding standards greatly reduces development time and development cost.
    </p>
    <p>
        4) Resources can be easily switched between the projects and can follow the code.
    </p>
    <p>
        5) Minimizes Performance Pitfalls.
    </p>
    <p>
        6) Maintenance of project becomes easy.
    </p>

    <h3 style="padding-top: 30px">
        Common Aspects and rules of Coding Standards:
    </h3>
    <p>
        1) Naming Conventions
    </p>

    <p>
        2) Organization of files
    </p>
    <p>
        3) Formatting and Indentation
    </p>
    <p>
        4) Comments and Documentation
    </p>

    <p>
        5) Modularity and Reusability of code
    </p>
    <p>
        6) Portability
    </p>
    <p>
        7) Designs
    </p>


</div>