<div>
    <h1>

        Leave Approval Process
    </h1>
    <p>
        If you are planning to take leave for even a single day before or after Diwali leaves or during month of Diwali
        leaves, you must take approval before 1 month (i..e if Diwali is there in month of November and if you are
        planning
        to take any leave during month of November, you must apply for leaves before 30th September). Other than Diwali
        leaves, you need to follow below instructions.
    </p>
    <p>
        You need take approval in advance if you plan for any leave except you have any health issue. In that case also
        at
        least please call Roma to inform that you are not coming. If you are not feeling well for more than 1 day, call
        again on next day and inform paras. Office No: 9510500519. Ideally you should call before 9:30am and inform in
        such
        rare cases.
    </p>
    <h3>
        You need to inform in advance if you plan for any leave.
    </h3>
    <p>
        – If you are planning to take 1 leave, we appreciate if you take approval before at least 1 or 2 days.
    </p>
    <p>
        – If you are planning to take 2 leaves, we appreciate if you take approval before 1 week.
    </p>
    <p>
        – If you are planning to take 3 or 4 leaves, we appreciate if you take approval before 2 weeks.
    </p>
    <p>
        – We appreciate if you take approval before 1 month if you are planning for more than 4 leaves.
    </p>
    <p>
        Please note, system will not allow you to enter your leaves for more than 60 days in advance.

        You must not take leave without prior approval otherwise it will affect your performance rating.

        If you take leave without prior approval then it will be considered as unapproved leave and it will be deducted
        from
        salary. Unapproved leave will lead to a deduction of 1.5 days.

        Management will take final decision to approve or disapprove leave request considering work load. It is not
        subject
        to discussion. You must cooperate with whatsoever decision taken for leave request.
    </p>
    <h3>
        Wedding Leave Approval Policy
    </h3>
    <p>
        BlueSoft allows total maximum 14 days (Including Weekend Off + Public Holiday) of leaves for
        wedding. In this 14 days you can plan all wedding + religious functions or going out of station. In case you
        need
        more leaves for going out of station then you must plan it after 3 months of your wedding leaves.
    </p>
    <p>
        For going out after 3 months of your wedding leaves, you will be allowed leaves of 7 days (Including Week Off +
        Public Holiday). And it is subject to prior approval. Team workload is considered to approve such leaves and not
        individual workload.
    </p>
    <p>
        It should be clear that you must take prior approval for wedding leaves to manage work efficiently during your
        absence. Kindly inform well in advance. It is advisable that you plan/take less leaves during wedding if you
        have
        plan to go out of station after 3 months.
    </p>
    <h3>
        Vacation Leave Approval Policy
    </h3>
    <p>
        BlueSoft, allows total maximum 7 days (Including Week Off + Public Holiday) of leaves for yearly
        vacation. It is obvious that you should take prior approval for vacation leaves to manage work efficiently
        during
        your absence. Kindly inform well in advance.
    </p>
    <p>
        And it is subject to prior approval. Team workload is considered to approve such leaves and not individual.
        It is advisable that you plan/take less leaves during year if you have plan to take yearly vacation. Year is
        considered from Jan to Dec.
    </p>


</div>

<div style="padding-top: 30px">
    <h1>
        Work From Home Policy
    </h1>
    <h4>
        Points to be considered for Work From Home Policy
    </h4>
    <p>
        – If anyone plans to work from home then first take prior approval for the same from Project Manager only. If
        there is no Project Manager in any team, you can consult Team Leader.
    </p>
    <p>
        – One should just not call and inform about it. Taking prior permission is compulsory.
    </p>
    <p>
        – You must need to take the permission via Email. You should send email to PM / TL and keep HR in cc.
    </p>
    <p>
        – Must have enough resources (Computer + Broadband Connection + Headphones with working mic) at home to manage
        your work from home properly.
    </p>
    <p>
        – You are not allowed to use Teamviewer from your phone. You must connect from desktop or laptop only.
    </p>
</div>