<div>
    <h1>
        Affiliate Scheme for Resource
    </h1>
    <p>
        As we all know, talented team is backbone for any IT company. Based on past experience, we realized that, when
        we
        hire resource by reference (especially by any of you), it really work well. Because you understand our need
        better
        and when you refer candidate, there are 99% chances that he/she is right candidate for company. BlueSoft would
        like to
        promote the same by paying bonus to you when you do so.

    </p>
    <p>
        So now on, whenever you refer any experienced resource to company and if company hire him/her, you will get
        bonus of
        2,500 Rs. You should take care that you refer right candidate to the company as we spend good amount of time in
        interview process. When you refer right candidate, it saves time.

    </p>
    <h3>
        Terms & Conditions
    </h3>
    <p>

        – This scheme is exclusively for BlueSoft staff only (except HR Staff). Ex-BlueSoft employee is eligible for this
        scheme
        as well.
    </p>
    <p>

        – You will get said bonus after new employee (referred by you) work with BlueSoft for 2 consecutive months.
    </p>
    <p>
        – If BlueSoft decide to discontinue services of new employee before 2 months, you will not be eligible for said
        bonus
        amount.

    </p>
    <p>
        – We use few consultants and some other ways for recruitment. So ideally you should send us cv or contact
          information of candidate on time whenever we have requirements. If we approach candidate by other mean before you
          refer him/her, your reference will not be considered. Same holds true if candidate approaches us before you
          refer
          him/her.
    </p>
  
    <p>
        – This scheme is just applicable for recruitment of experienced resource and not for fresher or trainee
          recruitment.
          Only experience after graduation will be considered to decide one as experienced resource.
    </p>

    <p>
        – Above mentioned terms shall be amended from time to time.
    </p>
    <p>
        – This scheme is effective from 7 th May 2012.
    </p>
    Thanks,
</div>

<div style="padding-top: 30px">
    <h1>

        Innovative knowledge contributor of the Quarter
    </h1>
    <p>
        According to this scheme, You can post/share your views, knowledge and ideas related to your technical Knowledge
        gained from your past experiences which can help others on NISL Forum. The staff member who will be getting
        maximum likes on his/her post and selected by management team based on material posted will be selected as the
        “Innovative knowledge contributor of the Quarter”

        As the title speaks “Innovative knowledge contributor of the Quarter” Winners will be declared and awarded
        Quarterly i.e. In first week of April (For Jan-Feb-Mar), July (For Apr-May-Jun), October (For Jul-Aug-Sep) and
        January (For Oct-Nov-Dec) of the Year.

        Winners will also be awarded with certificate and some kind of reward.

    </p>
    <p>

        The winners of the rewards will be decided as per below:
    </p>

    <p>
        1) As per the quality of material or content posted, which will be decided by Management.

    </p>
    <p>

        2) Usability of the code or content by others.
    </p>
    <p>
        3) Number of votes received.

    </p>

    I hope every one of you will actively participate in Forum. Let’s try to enhance our knowledge and help others to
    gain knowledge from our experiences.

    Now you will see thumb icon against each topic. So whenever you find any topic use full, don’t forget to like the
    same.
</div>

<div style="padding-top: 30px">
    <h1>

        Star Presenter
    </h1>
    <p>

        Share your knowledge. It’s a way to achieve immortality
        As per this scheme, Team Leader/Project Manager will select one of you and will give you a chance to take a
        session with your Team.
    </p>
    <p>
        Or

    </p>
    <p>

        If you have some topic in your mind (which you think will be useful to other member of your team) and willing to
        take session on the same than you can take the same with prior approval of your TL or PM

        The session which will be most beneficial and helpful to others will be selected as the best session of the
        month and the person who took the session will be awarded as “Star Presenter”. Winner will be awarded with
        certificate and some kind of reward.
    </p>


    <h3>

        Criteria for the winner:
    </h3>
    <p>

        The winners will be decided on the basis of content and material of the topic included in the session.

        The usefulness of the information shared.

        The way of presentation.
    </p>
    <h3>

        Notes:
    </h3>
    <P>

        If anyone is willing to take session for his/her own topic, he/she must need to suggest the same to your PM or
        TL

        They always need to discuss the topic + content with your PM or TL before the actual session to make it
        interesting
        for listener

        We will have sessions on Saturday only.

    </P>

</div>