<div class="page-content">
    <div class="content">
        <div class="page-title"> <i [routerLink]="['/page/home']" style="cursor: pointer"
                routerLinkActive="router-link-active" class="icon-custom-left"></i>
            <h3 style="padding-top: 10px"> Change Password </h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold"></span></h4>
                </div>
                <form [formGroup]="changepassword" (ngSubmit)="submit(changepassword.value,changepassword.valid)">
                    <div class="grid-body no-border">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-label">Old Password :</label>
                                    <div class="input-with-icon right">
                                        <input class="form-control" type="text" formControlName="oldpassword">
                                        <span class="help-block"
                                            *ngIf="isSubmit && !(changepassword.controls.oldpassword.valid)">
                                            Old password is required. </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New Password :</label>
                                    <div class="input-with-icon right">
                                        <input class="form-control" formControlName="newpassword" type="password">
                                        <span class="help-block"
                                            *ngIf="isSubmit && changepassword.get('newpassword').hasError('required')">
                                            New password is required. </span>
                                        <span class="help-block"
                                            *ngIf="isSubmit && changepassword.get('newpassword').hasError('minlength') && !changepassword.get('newpassword').hasError('required')">
                                            new password requirements minimum 6 characters. </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Confirm Password :</label>
                                    <div class="input-with-icon right">
                                        <i class=""></i>
                                        <input class="form-control" type="password" formControlName="confirmpassword">
                                        <span class="help-block"
                                            *ngIf="isSubmit && changepassword.controls.confirmpassword.errors?.required">
                                            Confirm password is required. </span>
                                        <span class="help-block"
                                            *ngIf="isSubmit && !changepassword.controls.confirmpassword.errors?.required && changepassword.controls.confirmpassword.errors?.matchPassword">
                                            New password and Confirm password not match. </span>
                                    </div>
                                </div>
                                <button class="btn btn-success btn-cons" type="submit"><i class="icon-ok"></i>
                                    Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>