<div>

    <h1>
        Useful Links

    </h1>


    <p>
        Here are some useful links, that may help you to Improve Your English skills.
    </p>
    <div>

        <a href="http://www.ego4u.com/" target="_blank">http://www.ego4u.com/ </a>
    </div>
    <div>
        <a href="http://www.easyenglish.com/" target="_blank"> http://www.easyenglish.com/ </a>
    </div>
    <div>
        <a href="http://www.learn-english-online.org/" target="_blank">http://www.learn-english-online.org/</a>
    </div>
    <div>
        <a href="http://www.businessenglishpod.com/category/communication-skills/"
            target="_blank">http://www.businessenglishpod.com/category/communication-skills/</a>
    </div>



</div>